body, {
	height: 100%;
	background-color:rgb(245, 245, 245);
}

body, .form-control{
  font-size:12px!important;
  

}

.floatRight{
	float:right;
	margin-right: 18px;
}

.has-error{
	color:red;
}

.generic-container {
  width:98%;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #EAE7E7;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 30px black;
}

.custom-width {
    width: 80px !important;
}
.th {
  text-transform: uppercase;
}
.panel-heading{
  text-align: center;
}

.thead {
  text-transform: uppercase;
}

.appearance-select{
  -webkit-appearance: none;  /* Remove estilo padrão do Chrome */
  -moz-appearance: none; /* Remove estilo padrão do FireFox */
  appearance: none; /* Remove estilo padrão do FireFox*/
  background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat #eeeeee;  /* Imagem de fundo (Seta) */
  background-position: 218px center;  /*Posição da imagem do background*/
  width: 100px; /* Tamanho do select, maior que o tamanho da div "div-select" */
  height:25px; /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */
  border:1px solid #ddd;
}



.table-responsive{
 margin-top: 5%;
}

.tipo {
  margin-left: 15px;
  
}
.pontovenda {
  margin-left: 15px;
}


